.text-holder {
    margin: 100px auto 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.btn-go-back {
    background: royalblue;
    color: #fff;
    cursor: pointer;
    margin: 25px auto;
    width: 115px;
    font-size: 19px;
    padding: 8px;
    border-radius: 4px;
}