.menu {
  background: #cac8c7;
  z-index: 4;
  box-shadow: 8px 3px 12px -7px #060606;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateX(-110%);
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  margin: 64px 0 0;
  width: 320px;
  height: 100%;
  user-select: none;
  transition: transform 150ms ease-out;
}

@media screen and (max-width: 800px) {
  .menu {
  }
}

.menu-visible {
  transform: translateX(0);
}

.holder-item {
  padding: 5px 10px 5px;
  cursor: pointer;
  font: 16px/2.36em 'Roboto Slab', 'Times New Roman', serif;
}

.holder-item a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

ul li a:hover, .all-notes:hover, .all-labels:hover, .all-deleted:hover, .about:hover {
  opacity: 0.8;
}

.all-notes, .all-labels, .all-deleted, .about {
  text-align: center;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 40px;
}

.all-notes {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAPUlEQVR4AWMY/qABiP8D8QEgfgBik4AbMAyCsck1iHIX0QI4gEwmEztgeA0quIBMr1FuEPW8RhiMJsjhDQD8DH/hlEmD0QAAAABJRU5ErkJggg==') no-repeat 0 50%;
}

.all-labels {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAATklEQVR4AWMYGGDD4IAGxdCVFDP8x4DfGCxRFe0DCmLCRwy8yIoOgAUx4Rp8ihAwjRhF3xnUiFGkTVhRBmHrthIOgscMAiQEJuFooT8AAHxof8lzaZIuAAAAAElFTkSuQmCC') no-repeat 0 50%;
}

.all-deleted {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAV0lEQVR4AWMYUsAIiPcB8QEQhrK1idXsAMT/icQO+AxSAOIGIrECIVclgLxCACcQ9BvUtv+4DIHKNRBvEA4w3A0aNSiHiHSUQ4xBnEC8Eo9BK8FqBj0AAN+CQ3pi59wGAAAAAElFTkSuQmCC') no-repeat 0 50%;
}

.about {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAjUlEQVR4AZXStxUCMRAA0d8BF2Fy6EMtYLrAm4bw0Be0gUj1zt9MIm92V3cywcpKkCll6Ckmvg3lmPiIOT8mEka+YolfIwBuycTOLuldAXp+lYt+esBMrHEOHMXKk6IjcBITgyDtn4BF7aJF/uH5RcnDuVS+6dImmAMJ49K0jOUYeOUSPKgulbW1INOVP5yxploOSSbQAAAAAElFTkSuQmCC') no-repeat 0 50%;
}