<div class="usual-notice" [attr.data-id]="note.id" [class.tiles]="getListViewVal()" *ngFor="let note of notes"  [style.backgroundColor]="note.color" [routerLink]="['..', 'edit', note.id]">
  <div class="title">
    <div>{{note.title}}</div>
  </div>
  <div class="notice">
    <div>{{note.notice}}</div>
  </div>
  <div class="toolbar">
    <div class="btn-change-color"></div>
    <div class="btn-save">Save</div>
    <div class="btn-reset">Reset</div>
    <div class="btn-label">Add Label</div>
    <app-color-pallete></app-color-pallete>
    <app-label></app-label>
  </div>
</div>

<!-- <div class="usual-notice" [class.tiles]="getListViewVal()" *ngFor="let note of [0,1]"  [style.backgroundColor]="'#ff8a80'" [id]="12345" [routerLink]="['..', 'edit', '12345']">
  <div class="title">
    <div>dfsd</div>
  </div>
  <div class="notice">
    <div>dfds</div>
  </div>
</div> -->