.notices-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.usual-notice:hover {
	transform: scale(1.006);
}

.usual-notice {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    min-height: 50px;
    width: 100%;
    padding: 15px 0 30px;
    margin: 0 0 20px;
    position: relative;
}

.title-holder, .notice-holder {
    padding: 10px 15px;
    outline: none;
    margin: 0 0 10px;
}

.title-content, .notice-content {
    border: none;
    word-wrap: break-word;
} 

.title-content {
  font: bold 17px/1.35em 'Roboto Condensed', arial, sans-serif;
}

.notice-content {
    font: 16px/1.36em 'Roboto Slab', 'Times New Roman', serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error {
    color: red;
}

.time-holder {
    font-size: 12px;
    font-style: italic;
    padding: 0 25px;
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.toolbar {
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
 }
/*
.toolbar:after {
	content: '';
	display: block;
	clear: both;
} */

.btn-change-color {
    float: left;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMjQgNmMtOS45NCAwLTE4IDguMDYtMTggMThzOC4wNiAxOCAxOCAxOGMxLjY2IDAgMy0xLjM0IDMtMyAwLTAuNzgtMC4yOS0xLjQ4LTAuNzgtMi4wMS0wLjQ3LTAuNTMtMC43NS0xLjIyLTAuNzUtMS45OSAwLTEuNjYgMS4zNC0zIDMtM2gzLjUzYzUuNTIgMCAxMC00LjQ4IDEwLTEwIDAtOC44NC04LjA2LTE2LTE4LTE2em0tMTEgMThjLTEuNjYgMC0zLTEuMzQtMy0zczEuMzQtMyAzLTMgMyAxLjM0IDMgMy0xLjM0IDMtMyAzem02LThjLTEuNjYgMC0zLTEuMzQtMy0zczEuMzQtMyAzLTMgMyAxLjM0IDMgMy0xLjM0IDMtMyAzem0xMCAwYy0xLjY2IDAtMy0xLjM0LTMtM3MxLjM0LTMgMy0zIDMgMS4zNCAzIDMtMS4zNCAzLTMgM3ptNiA4Yy0xLjY2IDAtMy0xLjM0LTMtM3MxLjM0LTMgMy0zIDMgMS4zNCAzIDMtMS4zNCAzLTMgM3oiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K) center no-repeat;
    opacity: 0.7;
}

.btn-change-color:hover {
    opacity: 1;
}

.btn-save, .btn-reset, .btn-label, .btn-edit, .btn-delete {
    cursor: pointer;
    float: right;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 13px/1.31em 'Roboto',arial,sans-serif;;
    text-transform: uppercase;
    padding: 8px 14px;
    position: relative;
    user-select: none;
}

.btn-save:hover, .btn-reset:hover, .btn-label:hover, .btn-edit:hover, .btn-delete:hover {
    background: rgba(0, 0, 0, 0.08);
}

.tiles {
    min-width: 254px;
    width: 254px;
    margin: 0 0 20px 20px;
}

.tiles .btn-delete,
.tiles .btn-save,
.tiles .btn.btn-reset {
    padding: 8px 5px;
}